.sec-pre-head {
  color: var(--mustard);
  font-weight: 500;
  line-height: 1.2;
  font-size: 1.1rem;
}

.large-heading {
  font-family: "Helvetica", "Satoshi-Variable";
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.2em;
}
.section-heading{

}
.question-heading{
    font-size: calc(1.5rem + 0.9vw); 
}

.question-sub-heading{
    /* font-size: 1.75rem; */
    font-size: calc(0.8rem + 0.9vw);

}

.h3-points{
    color: var(--black);
    font-size: 20px;
    font-weight: 700;
}

@media (max-width: 1199px) {
  .large-heading {
    font-size: 3rem;
    font-weight: 600;
  }
}

@media (max-width: 991px) {
  .large-heading {
    font-size: 2.3rem;
    font-weight: 600;
  }
}

@media (max-width: 767px) {
  .large-heading {
    text-align: center;
  }
}

@media (max-width: 600px) {
  .large-heading {
    font-size: 2rem;
  }
}

@media (min-width: 313px) and (max-width: 399px) {
  .large-heading {
    font-size: 1.7rem;
  }
}
