.sec-pre-head {
  color: var(--mustard);
  font-weight: 500;
  line-height: 1.2;
  font-size: 1.1rem;
}

.large-heading {
  font-family: "Helvetica", "Satoshi-Variable";
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.2em;
}
.section-heading {
}
.question-heading {
  font-size: calc(1.5rem + 0.9vw);
}

.question-sub-heading {
  font-size: calc(0.8rem + 0.9vw);
}

.small-para{
    font-weight: 400;
    line-height: 1.4;
}
.h3-points {
  color: var(--black);
  font-size: 20px;
  font-weight: 700;
}

.icon-points-section {
  display: flex;
  padding: 2.5rem 1.5rem;
  border-radius: unset;
  border: none;
  min-height: 200px;
}

.icon-points-section:hover {
  transition: all 0.9s ease;
  box-shadow: 0 15px 40px 2px rgb(18 21 154 / 15%);
  background-image: url("../images/dummy-img/card-hover-bg-image.png");
  background-position: top right;
  background-repeat: no-repeat;
}

@media (max-width: 1199px) {
  .large-heading {
    font-size: 3rem;
    font-weight: 600;
  }
}

@media (max-width: 991px) {
  .large-heading {
    font-size: 2.3rem;
    font-weight: 600;
  }
}

@media (max-width: 767px) {
  .large-heading {
    text-align: center;
  }
}

@media (max-width: 600px) {
  .large-heading {
    font-size: 2rem;
  }
}

@media (max-width: 500px) {
  .icon-points-section:hover {
    background-size: contain;
  }
}


@media (min-width: 313px) and (max-width: 399px) {
  .large-heading {
    font-size: 1.7rem;
  }
}
@media (min-width: 250px) and (max-width: 451px) {
  .icon-points-section {
    display: inline-block !important;
    padding: 1.5rem 1rem !important;
    border-radius: unset;
    border: none;
    min-height: 200px;
  }
}
