:root{
    --mustard:#FDA33B;
    --pure-white: #FFFFFF;
    --custom-blue: #407BFF;
    --black: #383a50;
}

.dboard-cd-box {
    border-radius: 4px;
    position: relative;
    color: var(--black) !important;
    padding: 20px 10px 40px;
    margin: 20px 0px;
    /* background-color:  #407BFF !important; */
    background-color: var(--pure-white);
    border-top: 2px solid var(--mustard);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}
.dboard-cd-box:hover {
    text-decoration: none;
    color: #f1f1f1;
}
.dboard-cd-box:hover .dboard-icn_font i {
    font-size: 60px;
    transition: 1s;
    -webkit-transition: 1s;
}
.dboard-cd-box .inner {
    padding: 5px 10px 0 10px;
}
.dboard-cd-box h3 {
    font-size: 27px;
    font-weight: bold;
    margin: 0 0 8px 0;
    white-space: nowrap;
    padding: 0;
    text-align: left;
}
.dboard-cd-box p {
    color: var(--black);
    font-size: 15px;
    font-weight: 500;
}
.dboard-cd-box .dboard-icn_font {
    position: absolute;
    top: auto;
    bottom: 0px;
    right: 5px;
    z-index: 0;
    font-size: 40px;
    color: var(--mustard);
    /* color: rgba(0, 0, 0, 0.15); */
}

/* table css */
.table thead th {
    border-bottom: 1px solid #ddd !important;
    border: none;
}

.alert-warning {
    color: var(--pure-white);
    border-left: 3px solid var(--black) !important;
    background: var(--mustard);
    border:var(--mustard) ;
    border: none;
}

.package-details-pricing-crd{
    border-left: 2px solid var(--mustard) !important;
    background: var(--pure-white);
    padding: 7px;
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
    border: none;
}
.package-details-pricing-crd h4{
    color: var(--black);
}
.pkg-img2{
    display: none;
}
@media(max-width:575px){
    .pkg-img2{
        display: block;
    }
    .pkg-img1{
        display: none;
    }
}