
:root{
    --mustard:#FDA33B;
    --pure-white: #FFFFFF;
    --custom-blue: #407BFF;
    --black: #383a50;
}
/* Loggedin user sidebar/sidenav */

.client_profile_dashboard_left {
    padding: 13px 13px 15px 25px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0px 0px 0px 0px rgb(0 0 0 / 12%);
    /* max-width: 270px; */
    z-index: -1;
    height: -webkit-fill-available;
    margin: 1rem 0;
}

.edit_profile .navi ul li {
    /* border-bottom: 1px solid rgba(30, 34, 38, .18); */
    line-height: 45px;
    padding: 0rem 0.8rem;
}

#toClient,
#toSeller {
    cursor: pointer;
}

.db_shadow{
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}

/*Main CSS*/

.active-styling {
    background: var(--mustard) !important;
    /* background: #bee9e9 !important; */
    font-weight: 700 !important;
    border-radius: 0.5rem !important;
}


.dboard-li-atag {
    color: var(--black) !important;
}
/*///start breadcrumb*/

ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background: var(--pure-white);
    border-radius: 0;
}

ul.breadcrumb li {
    display: inline;
    font-size: 18px;
}

ul.breadcrumb li+li:before {
    padding: 8px;
    color: var(--pure-white);
    content: "/\00a0";
}

ul.breadcrumb li a {
    border: 1px solid var(--custom-blue);
    color: var(--custom-blue);
    padding: 10px 25px;
    text-decoration: none;
}

ul.breadcrumb li a:hover {
    text-decoration: none;
    background: var(--custom-blue);
    color: white;
    border-color:var(--custom-blue);
}


/*///end breadcrumb*/


/*///////Box Style/////*/

.dbox {
    min-height: 120px;
    background-color: var(--custom-blue);
    text-align: center;
}

.dbox {
    min-height: 50px;
}

.dbox a {
    color: var(--pure-white);
}

.prof-dash {
    height: auto;
}

.profile-img-box {
    border: 2px solid #808080;
    border-radius: 4px;
    padding: 2%;
    text-align: center;
}

.profile-img-box a img {
    border-radius: 50%;
    height: 150px;
    text-align: center;
}

@media (min-width:768px) {
    .client_profile_dashboard_left {
        padding: 13px 20px 15px 35px;
        box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0px 0px 0px 0px rgb(0 0 0 / 12%);
        /* max-width: 270px; */
        z-index: -1;
        margin: 0;
        height: -webkit-fill-available;
    }
}

@media(min-width:768px) and (max-width:991px) {
    .dashorder_row {
        margin: 1rem;
    }
    .client_profile_dashboard_left {
        padding: 13px 10px 15px 10px !important
    }
}

.myhrline{
    margin: 1rem 0;
    color: inherit;
    border: 0;
    border-top: 1px solid;
    opacity: 0.25;
}

.flduplod {
    border: none;
}
.table-responsive::-webkit-scrollbar{
    width: 0.5rem;
    height: 8px !important;
}

.table-responsive::-webkit-scrollbar-thumb {
    background: var(--black) !important;
    border-radius: 5px !important;
}

.dboard-cd-box {
    border-radius: 4px;
    position: relative;
    color: var(--black) !important;
    padding: 20px 10px 40px;
    margin: 20px 0px;
    /* background-color:  #407BFF !important; */
    background-color: var(--pure-white);
    /* border-top: 2px solid var(--mustard); */
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}
.dboard-cd-box:hover {
    text-decoration: none;
    color: #f1f1f1;
}
.dboard-cd-box:hover .dboard-icn_font i {
    font-size: 45px;
    transition: 0.4s;
    -webkit-transition: 0.4s;
}
.dboard-cd-box .inner {
    padding: 5px 10px 0 10px;
}
.dboard-cd-box h3 {
    font-size: 27px;
    font-weight: bold;
    margin: 0 0 8px 0;
    white-space: nowrap;
    padding: 0;
    text-align: left;
}
.dboard-cd-box p {
    color: var(--black);
    font-size: 15px;
    font-weight: 500;
}
.dboard-cd-box .dboard-icn_font {
    position: absolute;
    top: auto;
    bottom: 0px;
    right: 5px;
    z-index: 0;
    font-size: 40px;
    color: var(--mustard);
}

/* table css */
.table thead th {
    border-bottom: 1px solid #ddd !important;
    border: none;
}

.alert-warning {
    border: none;
    background: var(--pure-white);
}

.package-details-pricing-crd{
    background: var(--pure-white);
    padding: 7px;
    border: none;
}
.package-details-pricing-crd h4{
    color: var(--black);
}
.pkg-img2{
    display: none;
}
@media(max-width:575px){
    .pkg-img2{
        display: block;
    }
    .pkg-img1{
        display: none;
    }
}

.offcanvas-backdrop.show {
    opacity: 0;
}
.extra-added-butn-for-mob-tab{
    display: none;
    position: fixed;
    z-index: 9999;
}

.sidebar-icon-btn {
    background: black;
    color: white;
    border-radius: 5px;
    padding: 6px 12px;
    border: none;
}

@media(max-width:767px){
    body #home {
        padding-top: 2rem !important;
    }
    .client_profile_dashboard_left {
        display: none;
    }
    .extra-added-butn-for-mob-tab{
        display: block;
    }
    .extra-mrgin-top-for-mtab{
        margin-top: 2rem;
    }
}