
:root{
    --mustard:#FDA33B;
    --pure-white: #FFFFFF;
    --custom-blue: #407BFF;
    --black: #383a50;
    --light-grey: #767171;
}
/* @media(min-width:768px){
    .special_fixed{
        position: fixed;
    }
    .special_sticky{
        position: sticky;
        margin-left: auto;
    }
} */

.badge-mustard {
    color: var(--pure-white);
    background-color: var(--mustard);
}
.edit-top-div_detail p{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
}
.label_design_as_btn {
    background-color: var(--custom-blue);
    color: var(--pure-white) !important;
    border-radius: 7px !important;
    font-size: 1.06rem;
    font-weight: 400 !important;
}
.my_nav_tab{
    color: var(--black);
}
.my_nav_tab:hover{
    color: var(--light-grey);
}
.nav-tabs .my_nav_tab.active, .nav-tabs .nav-item.show .my_nav_tab{
    color: var(--mustard) !important;
    font-weight: 600;
}

.overviews-div{
    font-size: 1.1rem;
    text-align: start;
    font-weight: 500;
    padding: 2rem 1rem 0rem;
    color: var(--mustard);
} 
.profiles_tediting-div{
    padding: 2rem 1rem 0rem;
}
.chnge_tab_div{
    padding: 2rem 1rem 0rem;
}
.overviews-div h4{
    color: var(--black);
}
.overviews-div p{
font-size: 1.1rem;
    font-weight: 400;
    font-family: "Satoshi-Variable";
}
.profile-hr span {
    background: var(--mustard) none repeat scroll 0 0;
    display: block;
    height: 1px;
    margin-bottom: 25px;
    position: relative;
    width: 15%;
   
}
.profile-hr span::after {
    /* content: "\f004"; */
    /* font-family: "Font Awesome 5 Free"; */
    background: inherit;
    content: "";
    height: inherit;
    position: absolute;
    top: -4px;
    width: 50%;
}
.profile-hr span::before {
    content: "\f004";
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free";
    font-size: 10px;
    font-style: normal;
    font-variant: normal;
    font-weight: 900;
    position: absolute;
}

/* .form-select {
    border: 1px solid #407BFF5c !important;
} */
.edit_profile .bfrom {
    margin: auto;
    width: 100%
}
.edit_profile .bfrom form {
    margin: auto;
    padding: 2rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    background: #F9F9F9
}

.botton-midle {
    width: 11rem;
    margin: auto;
}

.form-select:focus {
    border: 1px solid #0673BA5c;
    box-shadow: none;
}

.file-upload:focus {
    border: 1px solid #0673BA5c;
    box-shadow: none;
}

.form-control:focus {
    border: 1px solid #0673BA5c !important;
    box-shadow: none;

}

.editing-profile-img {
    width: 60%;
    border-radius: .4rem;
}

.editingimg {
    width: 100%;
    border-radius: 13px
}

@media (max-width:992px) {
    .editing-profile-img {
        width: 100%;
        border-radius: .4rem;
    }
}

@media (max-width:575px) {
    .editing-profile-img {
        margin-bottom: 1rem;
    }
   

}

@media(max-width:767px){
    .edit_profile .bfrom form {
        padding: 1rem;
    }
    .label_design_as_btn {
        font-size: .8rem;
    }
    .my_nav_tab{
        padding: 8px 5px;
    }
}
@media(max-width:500px){
    .overviews-div{
        padding: 2rem 0rem 0rem;
    }
    
    .chnge_tab_div{
        padding: 2rem 0rem 0rem;
    }
    .profiles_tediting-div {
        padding: 2rem 0rem 0rem;
    }
    .edit_profile .bfrom h4 {
      font-size: 1.1rem;
    }

    .nav-tabs .my_nav_tab.active, .nav-tabs .nav-item.show .my_nav_tab {
        font-weight: 500;
        font-size: .85rem;
    }
    .my_nav_tab{
        font-size: .85rem;;
    }
    .nav-tabs{
        justify-content: space-evenly;
    }
}