/* 
@import url('https://fonts.googleapis.com/css2?family=Charis+SIL&display=swap'); */

@font-face {
    font-family: "Satoshi-BlackItalic";
    src: url("fonts/Satoshi-BlackItalic.ttf") format("truetype");
}

@font-face {
    font-family: "Satoshi-Variable";
    src: url("../fonts/Satoshi/fonts/Satoshi-Variable.woff2") format("woff2"), url("../fonts/Satoshi/fonts/Satoshi-Variable.woff") format("woff"), url("../fonts/Satoshi/fonts/Satoshi-Variable.ttf") format("truetype");
    font-weight: 300 900;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "Satoshi-BlackItalic";
    src: url("../fonts/Satoshi/fonts/Satoshi-BlackItalic.woff2") format("woff2"), url("../fonts/Satoshi/fonts/Satoshi-BlackItalic.woff") format("woff"), url("../fonts/Satoshi/fonts/Satoshi-BlackItalic.ttf") format("truetype");
    font-weight: 900;
    font-display: swap;
    font-style: italic;
}

:root {
    --pure-white: #FFFFFF;
    --pure-green: #00FF00;
    --btn-bg-blue: #EBF4FE;
    --custom-blue: #407BFF;
    --text-blue: #407BFF;
    --dark-blue: #407BFF;
    --pink: #FF0833;
    --mustard:#FDA33B;
    --black: #383a50;
}


/* html {
    scroll-behavior: smooth;
} */

body {
    margin: 0;
    padding: 0;
    font-size: 100%;
    /* background-color: #ffffff; */
    font-family: "Satoshi-Variable";
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    /* overflow: auto; */
    width: 100%;
    height: 100vh;
    padding-top: 3.6rem !important;
}

body a {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    text-decoration: none;
}

p {
    line-height: 1.8;
    font-size: 1.1em;
    color: var(--black);
    /* font-weight: 100; */
    margin: 0;
}


/* h2 {} */

.fs_12p {
    font-size: 12px !important;
}

.fs_heading {
    font-size: calc(2.2rem + 0.9vw) !important;
}

.fs_sub_heading {
    font-size: calc(1.3rem + 0.9vw) !important;
}

.fs_bullet {
    font-size: 0.8rem;
}

.fw_800 {
    font-weight: 800;
}

.light_blue_bg {
    background: #EBF4FE;
    color: #407BFF;
}

.dark_blue_bg {
    background-color: var(--dark-blue);
}

.text_blue {
    color: darkblue;
}

.cursor_pointer {
    cursor: pointer;
}

.service_page_banner1 {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient( to bottom, #0000009e, rgb(0 0 0 / 92%)), url(../images/portfolio/our_servicess.jpg);
    color: white;
    object-fit: cover;
    /* padding: 7rem !important; */
}

.service_page_banner1 p {
    color: white;
}

@media (min-width:200px) {
    .service_page_banner1 {
        padding: 0px 12px;
    }
    .rows3 {
        padding: 14px;
    }
}

@media (max-width:453px) {
    .fs_heading {
        font-size: calc(1.7rem + 0.9vw) !important;
    }
    .mons-font {
        font-size: 1.25rem;
    }
}

@media (min-width:575px) {
    .rows3 {
        padding: 10px 0 0;
    }
}

@media (min-width:767px) {
    .service_page_banner1 {
        padding: 7rem !important;
    }
}

.text_dark_blue {
    color: var(--dark-blue);
}

.mons-font {
    font-family: 'Montserrat', sans-serif !important;
}

.new_section {
    margin-top: 1rem;
}

.box_container {
    margin: 0rem 0;
    padding: 0.5rem;
}

.explore_btn {
    border: 1px solid #0000ff;
    background: var(--btn-bg-blue);
    border-radius: 0;
    padding: 0.4rem 1rem;
}

.explore_btn:hover {
    border: 1px solid #0000ff;
    color: var(--pure-white);
    background: #0000ff;
    border-radius: 0;
}

.explore_btn:hover a {
    color: var(--pure-white);
}

.view-btn {
    border: 1px solid #fc2865;
    border-radius: 2px;
    color: var(--pure-white);
    background-color: #fc2865;
}

.view-btn:hover {
    color: #fc2865;
    background-color: #f7d7e0;
}

.view-btn a {
    color: var(--pure-white);
    background-color: transparent;
    text-decoration: none;
}

.view-btn:hover a {
    color: #fc2865;
}

.buy-btn {
    border: 1px solid var(--custom-blue);
    border-radius: 2px;
    color: var(--pure-white);
    background: var(--custom-blue);
}

.buy-btn:hover {
    color: var(--custom-blue);
    background: var(--btn-bg-blue);
}

.buy-btn a {
    color: var(--pure-white);
    background: transparent;
    text-decoration: none;
}

.buy-btn:hover a {
    color: var(--custom-blue);
}

@media (min-width: 768px) {
    .explore_btn {
        font-size: 1.2rem;
    }
}


/*--------------------------------------------------------------
  # Navigation Menu
  --------------------------------------------------------------*/

.navbar {
    font-family: "Satoshi-Variable";
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    background: #ffff;
    padding: 1rem 7.5rem 0;
    box-shadow: rgb(0 0 0 / 2%) 0px 20px 25px -5px, rgb(0 0 0 / 5%) 0px 10px 10px -5px;
}

.mynav_item  {
    padding: 0 0.3rem;
    width: max-content;
}

.dropdown ul {
    display: none;
    position: absolute;
    /* left: 30px; */
    top: calc(100% + 30px);
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
    border-radius: 4px;
}

.dropdown ul li {
    min-width: 0px;
}

.dropdown ul a {
    padding: 10px 20px;
    font-size: 14px;
    text-transform: none;
    font-weight: 400;
}

.emailstyle {
    font-size: 1.2rem;
    border-left: 2px solid #bdbdbd;
    color: #bdbdbd;
}

.dropdown:hover>ul {
    opacity: 1;
    top: 100%;
    display: block;
}

.dropdown-item:hover,
.dropdown-item:focus {
    color: #1e2125;
    background-color: white;
}

.login-btn {
    background-image: linear-gradient(120deg, var(--mustard) 0%, #FA8273 100%);
    border: none;
    border-radius: 8px;
    color: var(--pure-white);
    display: inline-flex;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1;
    padding: 0.5em 1em;
    text-decoration: none;
}

.login-btn:hover {
    color: var(--pure-white);
    background-image: linear-gradient(120deg, #FA8273 0%, var(--mustard) 100%);
}

.producting-menues {
    background: #fbf5ef !important;
    left: -410px !important;
    border: none;
    box-shadow: rgb(17 17 26 / 10%) 0px 4px 16px, rgb(17 17 26 / 5%) 0px 8px 32px !important;
}

.producting-divs-main-row {
    width: 44.5rem;
}

.producting-menues-lis {
    --c: var(--mustard);
    --s: .15em;
    line-height: 1.1em;
    padding-bottom: calc(2.1*var(--s));
    box-shadow: inset 0 -3px 0 var(--mustard);
    -webkit-mask: linear-gradient(#000 0 0) content-box, linear-gradient(#000 0 0) 0/var(--_p, 0%) padding-box no-repeat;
    transition: .5s;
    background: #fbf5ef !important;
    font-size: .9rem !important;
    /* font-weight: 500 !important; */
    width: fit-content;
}

.external-styling {
    background-image: linear-gradient(120deg, #FA8273 0%, var(--mustard) 100%) !important;
    color: white !important;
    width: 8.3rem;
    justify-content: center;
}

.external-lis {
    background-image: linear-gradient(120deg, #FA8273 0%, var(--mustard) 100%) !important;
    color: white !important;
    font-weight: 500 !important;
}

.external-lis:hover {
    background: #0d6efd1c !important;
}

.external-drop-menu {
    border: none !important;
    --bs-dropdown-min-width: 8.3rem !important;
    background-image: linear-gradient(120deg, #FA8273 0%, var(--mustard) 100%) !important;
    border-radius: 0 0 8px 8px !important;
    box-shadow: inset 0 -3px 0 var(--mustard) !important;
}

.dashboaard_button:hover .external-styling {
    border-bottom-left-radius: unset;
    border-bottom-right-radius: unset;
}

@media (min-width:200px) and (max-width:385px) {
    .external-styling {
        width: 5.2rem !important;
        font-size: 10px !important;
    }
    .dashboaard_button {
        padding: 0.2rem 0.8rem 0 !important;
    }
    .external-lis {
        padding: 0 !important;
        font-size: 11px !important;
        font-weight: 400 !important;
    }
    .external-drop-menu {
        --bs-dropdown-min-width: 5.09rem !important;
        padding: 5px !important;
    }
}

@media (min-width:386px) and (max-width:470px) {
    .external-styling {
        width: 6.6rem !important;
        font-size: 13px !important;
    }
    .dashboaard_button {
        padding: 0.2rem 0.8rem 0 !important;
    }
    .external-lis {
        padding: 0 !important;
        font-size: 13px !important;
        font-weight: 400 !important;
    }
    .external-drop-menu {
        --bs-dropdown-min-width: 6.6rem !important;
        padding: 10px !important;
    }
}

@media (max-width:575px) {
    .producting-menues {
        width: 16rem !important;
    }
}

@media (max-width:315px) {
    .producting-menues {
        width: 14rem !important;
    }
    .producting-menues-lis {
        font-size: .76rem !important;
    }
}

.desktop-login-btn {
    display: none;
}

.mobile_login_btn {
    display: none;
}

.li-style {
    color: #14213d;
    display: block;
    /* padding: 0.5rem 1rem !important; */
    text-decoration: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.li-style:focus {
    color:black !important;
}


/* ...................... */


/* for service */


/* ...................... */

.navbar .myservicecss:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>.myservicecss {
    box-shadow: inset 0 -3px 0 var(--mustard);
    color: black !important;
}

.li-style {
    border: solid transparent;
    border-width: 0 0 3px;
    color: #14213db8;
    font-size: 1.125rem;
    position: relative;
    text-decoration: none;
    z-index: 1;
    width: fit-content;
    font-weight: 500 !important;
}

@media (min-width: 993px) and (max-width:1250px) {
    .producting-menues-lis {
        font-size: .9rem !important;
    }
    .li-style {
        font-size: 1rem;
    }
    .navbar {
        padding:0.745rem 1rem !important;
    }
}

.li-style:hover {
    color: black !important;
    box-shadow: inset 0 -3px 0 var(--mustard);
}

.producting-menues-lis:hover {
    --_p: 100%;
    color: var(--mustard);
}

.mynav_item .li-style.active {
    color: black !important;
    box-shadow: inset 0 -3px 0 var(--mustard);
}

.mobile-menu {
    background: transparent;
    border: none;
    color: #000;
    cursor: pointer;
    height: 45px;
    margin-left: 24px;
    outline: none;
    padding: 5px 3px;
    -webkit-transition: all 0.6s;
    transition: all 0.6s;
    width: 30px;
    z-index: 2000;
}

.mobile-menu span {
    background: #002;
    border-radius: 5px;
    display: block;
    height: 2px;
    outline: none;
    -webkit-transition: all 0.6s;
    transition: all 0.6s;
    width: 100%;
    margin: 6px 0;
}

.mobile-menu.is-active {
    outline: none;
}

.mobile-menu.is-active span {
    background: #002;
    height: 1.5px;
}

.mobile-menu.is-active span:first-child {
    margin-top: 1px;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
}

.mobile-menu.is-active span:nth-child(2) {
    display: none;
}

.mobile-menu.is-active span:nth-child(3) {
    margin: -7.5px 0 0;
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

@media (max-width: 991px) {
    .producting-menues-lis {
        font-size: .8rem !important;
    }
    .producting-menues {
        width: 28rem;
    }
    .mobile_login_btn {
        display: inline-block;
        font-size: 12px;
    }
    .dashboaard_button {
        padding-bottom: 0rem !important;
    }
    .producting-divs-main-row {
        width: 27.5rem;
    }
}

@media (max-width:580px) {
    .producting-divs-main-row {
        width: 15.5rem;
    }
}

@media (max-width:350px) {
    .producting-divs-main-row {
        width: 15.5rem;
    }
}

@media (min-width: 250px) {
    .navbar {
        padding: 0.5rem 0rem;
    }
    .navbar-brand {
        width: 40%;
    }
    .navbar-brand img {
        width: 90px;
    }
    .emailstyle {
        display: none;
    }
    .right_mbl {
        width: 50%;
        justify-content: end;
        align-items: center;
        display: flex;
    }
    .mobile_login_btn {
        font-size: 13px;
        padding: 0.3rem 0.3rem;
        width: 90px;
    }
    .navbar-toggler {
        margin-left: 0.4rem;
    }
}

@media (min-width: 325px) {
    .navbar-brand img {
        width: 120px;
    }
    .emailstyle {
        display: none;
    }
    .right_mbl {
        width: 45%;
        justify-content: end;
        align-items: center;
        display: flex;
    }
    .mobile_login_btn {
        padding: 0.4rem 0.8rem;
        width: auto;
    }
    .navbar-toggler {
        margin-left: 0.8rem;
    }
}

@media (min-width: 576px) {
    .navbar {
        padding: 0.5rem 1.2rem;
    }
    .navbar-brand img {
        width: 130px;
    }
    .navbar-toggler-icon {
        width: 1.8em;
    }
    .mobile_login_btn {
        font-size: 14px;
    }
}

@media (min-width: 768px) {
    .navbar {
        padding: 0.745rem 1.2rem;
    }
    .navbar-brand img {
        width: 140px;
    }
    .navbar-toggler-icon {
        width: 1.8em;
    }
    .emailstyle {
        display: inline-block;
    }
}

@media (max-width: 991px) {
    .navbar-collapse {
        background: #f4f3fb80;
        border-radius: 1rem;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
    }
    .navbar-nav {
        padding: 1rem;
    }
}

@media (min-width: 992px) {
    .navbar {
        padding: 0.745rem 4rem;
    }
    .desktop-login-btn {
        display: inline-flex;
    }
    .mobile_login_btn {
        display: none;
    }
}


/*----------------------------------------- Navigation Menu End  --------------------------------------- */


/*============================================ Seller Action Start============================================*/

.seller_action_img {
    object-fit: cover;
    width: 50%;
}

@media (min-width: 250px) {
    .seller_action_img {
        width: 45%;
        padding: 0rem;
        margin-top: 1rem;
    }
}

@media (min-width: 325px) {
    .seller_action_img {
        width: 40%;
        padding: 1rem;
        margin-top: 0;
    }
}

@media (min-width: 768px) {
    .seller_action_img {
        width: 30%;
    }
}

@media (min-width: 992px) {
    .seller_action_img {
        width: 50%;
    }
}


/*--------------------------- Seller Action End-----------------------------------*/


/* ===================================================================================================
==============================           SCROLLBAR DESIGN            =================================
==================================================================================================== */


/* width */

::-webkit-scrollbar {
    width: 0.5rem;
}


/* Track */

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(128, 128, 128, 0.671) !important;
    border-radius: 2px;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: #407BFF !important;
    /* border-radius: 0.2rem; */
    border-radius: 2px;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #407BFF !important;
}


/* ===================================     SCROLLBAR DESIGN END       =================================== */

.service_ul li {
    font-size: 18px;
    line-height: 2.2rem;
    list-style-type: none;
}

@media screen and (max-width: 557px) {
    body p {
        font-size: 18px;
    }
    .services_card p {
        text-align: center;
        font-weight: 400;
        padding: 0.8rem 0px;
    }
    .service_ul li {
        font-size: 19px;
        line-height: 2rem;
        list-style-type: none;
    }
}

body #home {
    padding-top: 3rem !important;
}

.display-table {
    margin-bottom: 1rem !important;
}

.nav-drop-sortup:before {
    vertical-align: middle; 
}
.nav-drop-sortdown:before {
    /* vertical-align: sub; z*/
}
@media (min-width:992px){
    .myiconupdown i{
        display: none;
    }
}

/* change icons on hover */
@media (max-width:991px){
    .nav-drop-sortup{
        display: flex;
        align-items: flex-end;
        padding-top: 10px;
    }
    .myiconupdown i:nth-child(2) {
        display: none; 
      }
      
      .myiconupdown:hover i:nth-child(1) {
        display: none;
      }
      
      .myiconupdown:hover i:nth-child(2) {
        display: block;
      }
}
  
  