.lets-talk-section{
    padding: 1rem 2rem;
}

.layoutdiv {
    background-image: linear-gradient(120deg, #FDA33B 0%, #FA8273 100%);
    border-radius: 35px;
}

.layoutbutton {
    background-color: #000;
    color: white;
    padding: 8px 16px;
    border-radius: 16PX;
}

.layoutbutton:hover, .layoutbutton:active {
    background: #f76e5b;
    color: #000;
    border: none;
}

.imgdiv{
    margin-top: 2rem;
}
.imgdiv img {
    width: 21rem;
    margin-top: -2rem;
    border-bottom-left-radius: 35px;
}


/* // X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap */

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .lets-talk-section{
        padding:3rem !important;
    }
    .imgdiv{
        margin-top: 4rem;
    }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    /* .imgdiv img {
        margin-top: -2rem;
    } */
 }

@media (min-width: 992px) { 
    .imgdiv img {
        width: 25rem;
    }
}

@media (min-width: 1200px) {
    .lets-talk-section{
        padding: 3rem 5rem !important;
    }

    .imgdiv img {
        width: 28rem;
        margin-top: -8rem;
    }
}

@media (min-width: 1400px) {
    .imgdiv img {
        width: 35rem;
    }
 }

/* @media (min-width:600px) {
    .lets-talk-section{
        padding:3rem !important;
    }
    .imgdiv{
        margin-top: 4rem;
    }
} */


@media (min-width:1199px) {
    /* .lets-talk-section{
        padding: 3rem 5rem !important;
    }

    .imgdiv img {
        width: 28rem;
        margin-top: -8rem;
    } */
}