@import 'status-colors.css';
@import url('status-colors.css');


.product-title {
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0;
}
.order_action_bx {
    background: blanchedalmond;
    border-radius: 1rem;
    padding: 2rem;
}
.orderStatus-history{
    position: absolute;
     right: 0px;
    top: 0px;
    clip-path: polygon(0 0, 100% 1%, 100% 100%, 0 100%, 10% 51%);
}
.product-title-package-history{
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0;
}
.order_action_bx .dtls_bx {
    width: 75%;
    background: aliceblue;
    padding: 1rem;
    border-radius: 1rem;
    border: 1px solid #00000040;
}

.order_action_bx .form_bx {
    width: 75%;
    background: #fff;
    padding: 1rem;
    border-radius: 1rem;
    border: 1px solid #00000040;
}



/* ==================== copy icon on right side css start ==================== */

.text-wrap {
    position: relative;
}
.p-textdiv-card-history{
    padding: .5rem;
}
small, .small {
    text-transform: uppercase;
}
.clipboard.icon {
    position: absolute;
    top: 0.5em;
    right: 0.8em;
    margin-top: 4px;
    margin-left: 4px;
    width: 11px;
    height: 13px;
    border: solid 1px #333333;
    border-top: none;
    border-radius: 1px;
    cursor: pointer;
    background: white;
}

.clipboard.icon:before {
    top: -1px;
    left: 2px;
    width: 5px;
    height: 1px;
    border: solid 1px #333333;
    border-radius: 1px;
}

.clipboard.icon:after {
    width: 3px;
    height: 1px;
    background-color: #333333;
    box-shadow: 8px 0 0 0 #333333;
}

.icon:before,
.icon:after {
    content: '';
    position: absolute;
    display: block;
}

.order_data {
    color: #333333;
    font-size: 1.2rem !important;
    font-weight: 500;
}

.order_data tr {
    vertical-align: unset;
}

.ordered-details-table-css tr {
    vertical-align: unset;
}

.activeOrderDetails:hover {
    background: #dfecf59c;
}

@media screen and (max-width: 557px) {
    .order_data {
        font-size: 1rem !important;
        font-weight: 500;
    }
.product-title-package-history{
    font-size: 1.1rem;
    font-weight: 600;
    margin: 0;
}
small, .small {
    text-transform: lowercase;
}
}

@media screen and (max-width: 430px) {
    .order_data {
        font-size: .9rem !important;
        font-weight: 500;
    }
    .p-textdiv-card-history {
        padding: 1.37rem .5rem 1rem;
    }
    .package-badges{
        position: absolute;
        top: 0px;
        right: 0px;
    }
}
@media (max-width: 360px){
    small, .small {
        font-size: 0.76em;
    }
} 


/* ==================== copy icon on right side css start ==================== */

.ordered-details-table-css {
    width: 100%;
    font-size: 1.1rem;
    margin: 1rem 0;
    font-weight: 500;
}

/* ============================ */

.icon-data-list {
    list-style-type: none;
    padding-left: 0;
    position: relative;
    margin-bottom: 0;
    font-family: inherit;
}
small, .small {
    font-weight: 400;
}
.icon-data-list hr {
    margin: .4rem 0;
    color: cadetblue;
}

.icon-data-list li img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border-radius: 100%;
    display: none;
}
.icon-data-list h5{
    font-size: 1rem;
    font-weight: 600;
}
.icon-data-list p{
    font-weight: 600 !important;
    font-size: .9rem !important;
    color: black;
    line-height: 1.27;
}
.icon-data-list small{
    text-transform: inherit;
}
.extra-scroll-add{
    max-height: 450px;
    overflow: hidden;
    border-radius: 0.375rem 0.375rem 0px 0px;
    border-bottom: none;
}
.crd-box-fr-scroll{
     border: none;
}
.status_card{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 8px;
    border: 1px solid #d3d3d3a1;
    padding: .5rem;

}
#progressbar {
    overflow: hidden;
    padding-left: 0px;
    display: inline-grid;
  }
  
  #progressbar li {
    list-style-type: none;
    font-size: 0.8rem;
    float: left;
    position: relative;
    font-weight: 400;
    margin-bottom: 0 !important;
    padding-bottom: 1rem;
  }
  
  #progressbar #step:before {
    content: "";
    color: white;
    width: 12px;
    height: 12px;
    margin-left: 0px !important;
  }
  
  #progressbar li:before {
    line-height: 29px;
    display: block;
    font-size: 12px;
    background: #6dc517;
    border-radius: 50%;
    margin: auto;
    z-index: -1;
    margin-bottom: 1vh;
  }
  
  /* #progressbar li:nth-last-child(2):after {
    height: 81px;
  } */
  #progressbar li:last-child:after{
    height: 0px !important;
  }

  #progressbar li:last-child{
    margin-bottom:1.2rem !important ;
  }
  
  #progressbar li.active:before,
  #progressbar li.active:after {
    background: #6dc517;
  }
  
  #progressbar li:after {
    content: '';
    height: 100%;
    background: #6dc517;
    position: absolute;
    left: 2.2%;
    right: 0;
    top: 0;
    z-index: 1;
    width: 2px;
  }
  .icon-data-list li {
    margin-bottom: 1.5rem !important; 
  }
  
  
  .nav-tabs .nav-link{
    border-bottom: 1px solid var(--mustard);
    color: var(--pure-black);
    height: 100%;
  }
  
  .nav-tabs .nav-link:hover{
    border: 1px solid var(--mustard);
    border-bottom: 1px solid var(--pure-white);
  }
  
  .nav-tabs .nav-link.active{
    font-weight: 600;
    color: var(--pure-black);
    background: var(--mustard) !important;
    border: 1px solid var(--mustard);
  }
  @media (max-width: 575px){
    .content-wrapper {
      padding: 0 !important;
  }
  }

 
