.product-title {
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0;
}

.complete-status {
    display: inline-flex;
    background: #4404f5;
    padding: 0 1rem;
    border-radius: 4px;
    color: #fff;
    font-weight: 400;
}

.order_action_bx {
    background: blanchedalmond;
    border-radius: 1rem;
    padding: 2rem;
}
.orderStatus-history{
    position: absolute;
     right: 0px;
    top: 0px;
    clip-path: polygon(0 0, 100% 1%, 100% 100%, 0 100%, 10% 51%);
}
.product-title-package-history{
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0;
}
.order_action_bx .dtls_bx {
    width: 75%;
    background: aliceblue;
    padding: 1rem;
    border-radius: 1rem;
    border: 1px solid #00000040;
}

.order_action_bx .form_bx {
    width: 75%;
    background: #fff;
    padding: 1rem;
    border-radius: 1rem;
    border: 1px solid #00000040;
}

.Failed,
.Rejected,
.Cancelled {
    background-color: rgb(245, 41, 41) !important;
    color: #fff !important;
}

.Pending {
    background-color: rgb(143, 255, 15) !important;
    color: #fff !important;
}

.Processing {
    background-color: rgb(139, 109, 247) !important;
    color: #fff !important;
}

.Ordered {
    background-color: #00db0d !important;
    color: #fff !important;
}

.Delivered,
.Completed {
    background-color: #1E80C0 !important;
    color: #fff !important;
}


/* ==================== copy icon on right side css start ==================== */

.text-wrap {
    position: relative;
}
.p-textdiv-card-history{
    padding: .5rem;
}
small, .small {
    text-transform: uppercase;
}
.clipboard.icon {
    position: absolute;
    top: 0.5em;
    right: 0.8em;
    margin-top: 4px;
    margin-left: 4px;
    width: 11px;
    height: 13px;
    border: solid 1px #333333;
    border-top: none;
    border-radius: 1px;
    cursor: pointer;
    background: white;
}

.clipboard.icon:before {
    top: -1px;
    left: 2px;
    width: 5px;
    height: 1px;
    border: solid 1px #333333;
    border-radius: 1px;
}

.clipboard.icon:after {
    width: 3px;
    height: 1px;
    background-color: #333333;
    box-shadow: 8px 0 0 0 #333333;
}

.icon:before,
.icon:after {
    content: '';
    position: absolute;
    display: block;
}

.order_data {
    color: #333333;
    font-size: 1.2rem !important;
    font-weight: 500;
}

.order_data tr {
    vertical-align: unset;
}

.ordered-details-table-css tr {
    vertical-align: unset;
}

.activeOrderDetails:hover {
    background: #dfecf59c;
}

@media screen and (max-width: 557px) {
    .order_data {
        font-size: 1rem !important;
        font-weight: 500;
    }
.product-title-package-history{
    font-size: 1.1rem;
    font-weight: 600;
    margin: 0;
}
small, .small {
    text-transform: lowercase;
}
}

@media screen and (max-width: 430px) {
    .order_data {
        font-size: .9rem !important;
        font-weight: 500;
    }
    .p-textdiv-card-history {
        padding: 1.37rem .5rem 1rem;
    }
    .package-badges{
        position: absolute;
        top: 0px;
        right: 0px;
    }
}
@media (max-width: 360px){
    small, .small {
        font-size: 0.76em;
    }
} 


/* ==================== copy icon on right side css start ==================== */

.ordered-details-table-css {
    width: 100%;
    font-size: 1.1rem;
    margin: 1rem 0;
    font-weight: 500;
}

/* ============================ */

.icon-data-list {
    list-style-type: none;
    padding-left: 0;
    position: relative;
    margin-bottom: 0;
    font-family: "Satoshi-Variable";
    /* font-family: "Nunito", sans-serif; */
}

.icon-data-list li {
    /* margin-bottom: 1rem; */
}
.icon-data-list hr {
    margin: .4rem 0;
    color: cadetblue;
}

.icon-data-list li img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 100%;
}
.icon-data-list h5{
    font-size: 1.2rem;
}
.icon-data-list p{
    font-weight: 500;
    font-size: 1rem;
    color: black;
    line-height: 1.5;
}
.icon-data-list small{
    text-transform: inherit;
}
.crd-box-fr-scroll{
    overflow-y: scroll;
     max-height: 390px;
     border: none;
}
.crd-box-fr-scroll::-webkit-scrollbar-thumb {
    background: var(#333333) !important;
    border-radius: 2px;
}
.status_card{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 8px;
    border: 1px solid #d3d3d3a1;
    padding: .5rem;
}