.order-summary-section .container {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    /* padding: 2rem 4rem 4rem; */
}

.client-details-left {
    padding: 4rem 1.5rem 2rem 1.5rem;
}

.order-details-right {
    padding: 1.5rem 1.5rem 4rem 1.5rem;
    color: white;
    /* background-color: #FDA33B; */
    background-color: #76a1a1;
    /* padding: 4rem 1.5rem 4rem 4rem; */
}

.summary-details {
    padding: 2rem;
}

.price-card-wrapper {
    margin: 0.5rem 0;
    padding: .5rem;
    font-size: .9rem;
    word-wrap: break-word;
    color: #6b778c;
    font-size: .81rem;
    font-weight: 500;
    background: #fff;
    border: 1px solid #dfe1e6;
    border-radius: 0.25rem;
    /* display: flex;
    flex-direction: column; */
    /* height: 100%; */
    /* position: relative; */
    transition: border .15s ease-in;
}

.pricing-title {
    font-family: "Satoshi-Variable";
    font-weight: 500;
    color: #00254d;
    line-height: 1.5;
    padding-bottom: 0.5rem;
}

.price-card-wrapper ul {
    margin-bottom: 1rem;
    text-align: left;
    font-family: Poppins, Poppins;
    padding-left: 2rem;
    min-height: 115px;
}

.price-card-wrapper li {
    list-style-type: disc;
}

.item-price {
    font-family: Poppins, Poppins;
    margin-top: 2rem;
}

.default-price {
    font-weight: 700;
}

.invoice-items {
    border-radius: 0.25rem;
    font-size: .81rem;
    margin-bottom: 2rem;
    padding: 2rem;
    position: relative;
}

.cart-contents {
    transition: opacity .2s ease-in-out;
}

.cart-contents hr {
    border-top: 1px solid hsl(0deg 0% 100% / 78%);
    ;
}

.invoice-items h2 {
    font-size: 1.35rem;
}

.text-500 {
    font-family: Poppins, Poppins;
    font-weight: 500;
}

.text-muted {
    color: hsla(0, 0%, 100%, .5)!important;
}

@media(max-width:575px) {
    .client-details-left {
        padding: 2rem 1rem 2rem 1rem;
    }
    .order-details-right {
        padding: 1.5rem 1rem 2rem 1rem;
    }
}

@media(max-width:375px) {
    .invoice-items {
        padding: 0rem;
    }
}


/* payment */

.box-payment-btn {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background: lightblue;
    padding: 1rem 2rem;
    border-radius: 2px;
}

.bx_width_40 {
    max-width: 100%;
    padding: 1rem;
    border-radius: 0.5rem;
    margin: auto;
}

.cardBtn,
.payLaterBtn,
.paypalBtn {
    border: 0px solid #00f;
    border-radius: 1rem;
    padding: 0.4rem 2.2rem;
    font-size: 18px;
    width: 100%;
}

.payLaterBtn img,
.paypalBtn img {
    object-fit: cover;
    width: 25px;
}

.pay {
    color: #11559d;
    font-weight: 700;
}

.pal {
    color: #1a9fec;
    font-weight: 700;
}

.masterCard img {
    width: 40px;
    object-fit: cover;
}

.visaCard img {
    width: 40px;
    object-fit: cover;
}

.myformgrp {
    position: relative;
    padding-bottom: 10px;
}

@media(max-width:450px) {
    .cardBtn,
    .payLaterBtn,
    .paypalBtn {
        padding: 0.4rem;
        font-size: 15px;
    }
    .bx_width_40 {
        padding: 1rem 0.5rem;
        width: 100%;
    }
    .box-payment-btn {
        padding: 1rem;
    }
}

@media(max-width:319px) {
    .box-payment-btn {
        background: none;
        padding: 0;
    }
}