# RewriteEngine On 
RewriteCond %{SERVER_PORT} 80
RewriteCond %{HTTP_HOST} ^(www\.)?fastlinky\.com
RewriteRule ^(.*)$ https://fastlinky.com/$1 [R,L]


# www to non-www Example: www.fastlinky.com to https://fastlinky.com

RewriteEngine on
RewriteCond %{HTTP_HOST} ^www.fastlinky.com/ 
RewriteRule (.*) https://fastlinky.com/$1 [R=301,L]

# Remove www from any URLs that have them:
RewriteEngine on
RewriteCond %{HTTP_HOST} ^www\.
RewriteRule ^(.*)$ https://fastlinky.com/$1 [R=301,L]

# REMOVING THE PHP EXTENSION
#RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php [NC,L]